@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 340 10% 4%;
        --card: 0 0% 100%;
        --card-foreground: 340 10% 4%;
        --popover: 0 0% 100%;
        --popover-foreground: 340 10% 4%;
        --primary: 330 81% 60%;
        --primary-foreground: 330 10% 98%;
        --secondary: 340 5% 96%;
        --secondary-foreground: 340 10% 10%;
        --muted: 340 5% 96%;
        --muted-foreground: 340 4% 46%;
        --accent: 340 5% 96%;
        --accent-foreground: 340 10% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 340 6% 90%;
        --input: 340 6% 90%;
        --ring: 330 81% 60%;
        --chart-1: 330 81% 60%;
        --chart-2: 340 70% 50%;
        --chart-3: 350 60% 40%;
        --chart-4: 320 80% 70%;
        --chart-5: 310 90% 80%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 330 81% 60%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 340 5% 96%;
        --sidebar-accent-foreground: 340 10% 30%;
        --sidebar-border: 340 5% 91%;
        --sidebar-ring: 330 81% 60%;
    }

    .dark {
        --background: 340 10% 4%;
        --foreground:   0 0% 98%;
        --card: 340 10% 4%;
        --card-foreground: 0 0% 98%;
        --popover: 340 10% 4%;
        --popover-foreground: 0 0% 98%;
        --primary: 330 81% 60%;
        --primary-foreground: 330 10% 98%;
        --secondary: 340 4% 16%;
        --secondary-foreground: 0 0% 98%;
        --muted: 340 4% 16%;
        --muted-foreground: 340 5% 65%;
        --accent: 340 6% 15%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 340 4% 16%;
        --input: 340 4% 16%;
        --ring: 330 81% 60%;
        --chart-1: 330 81% 60%;
        --chart-2: 340 70% 50%;
        --chart-3: 350 60% 40%;
        --chart-4: 320 80% 70%;
        --chart-5: 310 90% 80%;
        --sidebar-background: 340 10% 7%;
        --sidebar-foreground: 0 0% 96%;
        --sidebar-primary: 330 81% 60%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 340 4% 16%;
        --sidebar-accent-foreground: 0 0% 96%;
        --sidebar-border: 340 4% 16%;
        --sidebar-ring: 330 81% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
